[Unit]
Description=Gateway Update Agent by CcC KoRHuN CcC

[Service]
ExecStart=/usr/share/GatewayUpdateAgent/GatewayUpdateAgent

[Install]
WantedBy=multi-user.target